body {
  width: 100%;
  background-image: url("/public/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.nav-link.active {
  border: 1px solid white;
  border-radius: 10px;
}

.blur-card {
  background-color: rgb(150, 150, 150, 0.3);
  backdrop-filter: blur(10px);
}

.main-container {
  width: 95% !important;
}

#search-form-container {
  max-width: 600px;
}

#search-form label {
  color: #93cae9;
}

#results-table-container {
  max-width: 1000px;
}

#results-table {
  overflow: hidden;
}

.results-table-row:hover {
  cursor: pointer;
}

#details-card-container {
  color: white;
  max-width: 800px;
}

#details-card-tabs {
  background-color: #5c9789;
}

.details-tab h2,
.details-tab h3,
.details-tab h4,
.details-tab h5 {
  color: #9cfce6;
}

#events-tab-details h4,
#artists-tab h3,
#artists-tab h4,
#artists-tab h5 {
  color: #9cfce6;
}

[ticket-status="onsale"] {
  background-color: #377e22;
}

[ticket-status="rescheduled"] {
  background-color: #d6a64f;
}

[ticket-status="postponed"] {
  background-color: #d6a64f;
}

[ticket-status="offsale"] {
  background-color: #be483d;
}

[ticket-status="canceled"] {
  background-color: black;
}

/* https://stackoverflow.com/questions/72228723/how-to-set-maximum-line-of-text-using-flex-css-react */
.clamp-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.clamp-line-open {
  -webkit-line-clamp: unset;
}

.map-backdrop {
  background-color: unset !important;
}
