body {
  width: 100%;
  background-image: url("/public/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.clickable:hover {
  cursor: pointer;
}

.nav-link.active {
  border: 1px solid white;
  border-radius: 10px;
}

.blur-card {
  background-color: rgb(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
}

.main-container {
  width: 95% !important;
}

#search-form-container {
  max-width: 600px;
}

#search-form label {
  color: #93cae9;
}

#results-table-container {
  max-width: 1000px;
}

#results-table {
  overflow: hidden;
}

.results-table-row:hover {
  cursor: pointer;
}

#details-card-container {
  color: white;
  max-width: 800px;
}

#details-card-tabs {
  background-color: #5c9789;
}

#details-card-events-details h4 {
  color: #9cfce6;
}

[ticket-status="onsale"] {
  background-color: #377e22;
}

[ticket-status="rescheduled"] {
  background-color: #d6a64f;
}

[ticket-status="postponed"] {
  background-color: #d6a64f;
}

[ticket-status="offsale"] {
  background-color: #be483d;
}

[ticket-status="canceled"] {
  background-color: black;
}
